@import url(./src/css/menu.css);
@import url(./src/css/reset.css);
@import url(./src/css/video.css);
@import url(./src/css/sidebar.css);

.container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}